In [1]:
import numpy as np
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline 


pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("data/Airbnb_Data.csv")

df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,description,first_review,host_has_profile_pic,host_identity_verified,host_response_rate,host_since,instant_bookable,last_review,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,NYC,"Beautiful, sunlit brownstone 1-bedroom in the ...",2016-06-18,t,t,NaN,2012-03-26,f,2016-07-18,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,NYC,Enjoy travelling during your stay in Manhattan...,2017-08-05,t,f,100%,2017-06-19,t,2017-09-23,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,NYC,The Oasis comes complete with a full backyard ...,2017-04-30,t,t,100%,2016-10-25,t,2017-09-14,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,SF,This light-filled home-away-from-home is super...,NaN,t,t,NaN,2015-04-19,f,NaN,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,DC,"Cool, cozy, and comfortable studio located in ...",2015-05-12,t,t,100%,2015-03-01,t,2017-01-22,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

In [4]:
df['city'].value_counts()

NYC        32349
LA         22453
SF          6434
DC          5688
Chicago     3719
Boston      3468
Name: city, dtype: int64

In [5]:
#We will be working with the Airbnb listings of that are only in NYC

df_nyc = df[df['city'] == 'NYC'].reset_index(drop=True)

In [7]:
df_nyc.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,description,first_review,host_has_profile_pic,host_identity_verified,host_response_rate,host_since,instant_bookable,last_review,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,NYC,"Beautiful, sunlit brownstone 1-bedroom in the ...",2016-06-18,t,t,NaN,2012-03-26,f,2016-07-18,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,NYC,Enjoy travelling during your stay in Manhattan...,2017-08-05,t,f,100%,2017-06-19,t,2017-09-23,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,NYC,The Oasis comes complete with a full backyard ...,2017-04-30,t,t,100%,2016-10-25,t,2017-09-14,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,5578513,4.605170,Apartment,Private room,"{Internet,""Wireless Internet"",""Air conditionin...",2,1.0,Real Bed,strict,True,NYC,This is a bright bedroom in an historic buildi...,2013-04-28,t,t,100%,2013-03-27,f,2016-11-15,40.723883,-73.983880,Large East Village Bedroom To Let!,Alphabet City,82,93.0,https://a0.muscache.com/im/pictures/21726900/1...,10009.0,1.0,1.0
4,17589436,4.882802,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",2,1.0,Real Bed,strict,True,NYC,"I am renting a very spacious, unique, bright L...",2015-09-26,t,t,71%,2015-08-17,f,2016-12-12,40.719086,-73.990285,"Amazing LES apt - cool, bright...",Lower East Side,26,86.0,NaN,10002,1.0,2.0

In [13]:
df_nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32349 entries, 0 to 32348
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      32349 non-null  int64
 1   log_price               32349 non-null  float64
 2   property_type           32349 non-null  object
 3   room_type               32349 non-null  object
 4   amenities               32349 non-null  object
 5   accommodates            32349 non-null  int64
 6   bathrooms               32250 non-null  float64
 7   bed_type                32349 non-null  object
 8   cancellation_policy     32349 non-null  object
 9   cleaning_fee            32349 non-null  bool
 10  city                    32349 non-null  object
 11  description             32349 non-null  object
 12  first_review            25491 non-null  object
 13  host_has_profile_pic    32173 non-null  object
 14  host_identity_verified  32173 non-null  object
 15  host_response_rate      22389 non-null  object
 16  host_since              32173 non-null  object
 17  instant_bookable        32349 non-null  object
 18  last_review             25517 non-null  object
 19  latitude                32349 non-null  float64
 20  longitude               32349 non-null  float64
 21  name                    32349 non-null  object
 22  neighbourhood           32341 non-null  object
 23  number_of_reviews       32349 non-null  int64
 24  review_scores_rating    25028 non-null  float64
 25  thumbnail_url           29934 non-null  object
 26  zipcode                 31903 non-null  object
 27  bedrooms                32302 non-null  float64
 28  beds                    32284 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 6.9+ MB

In [9]:
df_nyc['property_type'].value_counts()

Apartment             27485
House                  2690
Loft                    631
Townhouse               598
Condominium             425
Other                   204
Bed & Breakfast          95
Timeshare                44
Guest suite              39
Guesthouse               32
Hostel                   16
Boutique hotel           16
Dorm                     15
Villa                    13
Bungalow                 12
Serviced apartment        8
Boat                      6
Vacation home             6
In-law                    4
Chalet                    3
Cabin                     3
Tent                      1
Earth House               1
Castle                    1
Yurt                      1
Name: property_type, dtype: int64

In [10]:
df_nyc['room_type'].value_counts()

Entire home/apt    16243
Private room       15299
Shared room          807
Name: room_type, dtype: int64

In [11]:
#combine all the strict values

df_nyc['cancellation_policy'].value_counts()

strict             14475
flexible           10013
moderate            7851
super_strict_30        9
super_strict_60        1
Name: cancellation_policy, dtype: int64

In [12]:
df_nyc['cleaning_fee'].value_counts()

True     22889
False     9460
Name: cleaning_fee, dtype: int64

In [19]:
#Should reclassify to consolidate neighbourhoods

df_nyc['neighbourhood'].value_counts().head(50)

Williamsburg                     2862
Bedford-Stuyvesant               2166
Bushwick                         1601
Upper West Side                  1396
Harlem                           1374
Hell's Kitchen                   1299
Upper East Side                  1206
Crown Heights                    1076
Astoria                           898
Lower East Side                   833
East Village                      814
East Harlem                       793
Chelsea                           726
Greenpoint                        725
Washington Heights                721
Hamilton Heights                  628
Alphabet City                     619
Clinton Hill                      618
West Village                      606
Park Slope                        601
Flatbush                          551
Midtown East                      441
Lefferts Garden                   341
Kips Bay                          334
Financial District                323
Midtown                           319
Chinatown                         295
Greenwich Village                 293
Jamaica                           279
Fort Greene                       272
Prospect Heights                  264
Ridgewood                         259
Morningside Heights               251
Sunnyside                         224
Soho                              219
Gramercy Park                     211
Flushing                          208
Nolita                            196
Murray Hill                       190
East Flatbush                     181
Flatiron District                 175
Carroll Gardens                   170
Boerum Hill                       167
East New York                     166
Sunset Park                       158
Jackson Heights                   141
Long Island City                  131
Elmhurst                          129
Times Square/Theatre District     125
Kensington                        124
Name: neighbourhood, dtype: int64

In [20]:
df_nyc['amenities'][0]

'{"Wireless Internet","Air conditioning",Kitchen,Heating,"Family/kid friendly",Essentials,"Hair dryer",Iron,"translation missing: en.hosting_amenity_50"}'

In [22]:
df_nyc['amenities'][1]

'{"Wireless Internet","Air conditioning",Kitchen,Heating,"Family/kid friendly",Washer,Dryer,"Smoke detector","Fire extinguisher",Essentials,Shampoo,Hangers,"Hair dryer",Iron,"translation missing: en.hosting_amenity_50"}'

In [23]:
df_nyc['amenities'][2]

'{TV,"Cable TV","Wireless Internet","Air conditioning",Kitchen,Breakfast,"Buzzer/wireless intercom",Heating,"Family/kid friendly","Smoke detector","Carbon monoxide detector","Fire extinguisher",Essentials,Shampoo,Hangers,"Hair dryer",Iron,"Laptop friendly workspace","translation missing: en.hosting_amenity_50"}'

In [24]:
df_nyc['amenities'][3]

'{Internet,"Wireless Internet","Air conditioning",Kitchen,"Pets allowed","Buzzer/wireless intercom",Heating,Washer,Dryer,"Smoke detector",Essentials,Hangers,"Hair dryer","Laptop friendly workspace","translation missing: en.hosting_amenity_50"}'

In [21]:
df_nyc['amenities'][4]

'{TV,"Cable TV",Internet,"Wireless Internet","Air conditioning","Wheelchair accessible",Kitchen,Elevator,"Buzzer/wireless intercom",Heating,"Smoke detector","Carbon monoxide detector",Essentials,Shampoo,Hangers,"Hair dryer",Iron,"Laptop friendly workspace"}'

Feature Engineering Ideas
- host_has_profile_pic	host_identity_verified	host_response_rate
Use the columns to create a host reliability metric

-use host_since to feature engineer hosting experience

-feature engineering something with beds & baths

-play with geopandas with latitude and longitude

-map out the good deals, bad deals, and neutral deals across the NYC boroughs?

-amenities - some sort of amenity counter, tracker, make into dictionary?
-amenities score

-good deal, neutral deal, great deal target value